.git
.github
.gitignore
.mission
go.work

**/*.log
**/*.db
**/*.sqlite
**/*.sqlite3

logs
data
tmp
dist
design-system
old
output

web/node_modules
web/dist
web/prototypes

internal/web/dist

**/.DS_Store
